.slick-prev , .slick-next{
  background-color: green !important;
  border-radius: 10px !important ;
}

.mock-up-1{
  background-image: url('../src//assets/mock3.jpg');
  display: flex;
width: 24.375rem;
flex-direction: column;
align-items: flex-start;
background-repeat: no-repeat;
background-size: cover;
}


.mock-up-2{
  background-image: url('../src//assets/mock2.png');
  display: flex;
width: 24.375rem;
flex-direction: column;
align-items: flex-start;
background-repeat: no-repeat;
background-size: cover;
}

.gradient-bg{
  background-image: url('../src//assets/Vector1.png');

}


.bg-cardTech {
  background-image: url(./assets/CardTechBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(180deg, #C871E6, #6BF6CE);
  color: transparent;
}


.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}